# Data Science Tools and Environment

## In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* Java
* Python
* R

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. C++

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. TensorFlow
4. Keras
5. scikit-Learn
6. SciPy
7. Matplotlib

| Data Science Tools |
| ------------------ |
| RStudio |
| JupyterLab |
| Jupyter Notebook |

### Below are a few examples of evaluating arithmetic expressions in Python
1 + 3
4 * 5
6 - 1

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#  This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = 200 /60
hours

3.3333333333333335

## Author 
Aya Tammam